@page
@model ErpWeb.Pages.RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<div class="text-center">
    <h1 class="display-4">Dziękujemy za rejestrację!</h1>
    @Model.Email
    <p><a asp-page="/Login">Możesz teraz zalogować się z użyciem konta.</a></p>
</div>